#### 写出导入pandas的语句，并且给pandas别名为`pd`。

In [9]:
import pandas as pd
import numpy as np

#### 创建一个名为`students`的DataFrame，包含数据如下：
```
{"001": {"姓名": "小陈", "考试1": 85, "考试2": 95, "考试3": 92},
 "002": {"姓名": "小李", "考试1": 91, "考试2": 92, "考试3": 94},
 "003": {"姓名": "小王", "考试1": 86, "考试2": 81, "考试3": 89},
 "004": {"姓名": "小张", "考试1": 79, "考试2": 89, "考试3": 95},
 "005": {"姓名": "小赵", "考试1": 96, "考试2": 91, "考试3": 91},
 "006": {"姓名": "小周", "考试1": 81, "考试2": 89, "考试3": 92}
 }
```
 
 #### 要求学号（001、002等）为索引，姓名、考试1、考试2、考试3为列名，并输出创建好的DataFrame。

In [3]:
students = pd.DataFrame({"001": {"姓名": "小陈", "考试1": 85, "考试2": 95, "考试3": 92},
 "002": {"姓名": "小李", "考试1": 91, "考试2": 92, "考试3": 94},
 "003": {"姓名": "小王", "考试1": 86, "考试2": 81, "考试3": 89},
 "004": {"姓名": "小张", "考试1": 79, "考试2": 89, "考试3": 95},
 "005": {"姓名": "小赵", "考试1": 96, "考试2": 91, "考试3": 91},
 "006": {"姓名": "小周", "考试1": 81, "考试2": 89, "考试3": 92}
 }).T
students

     姓名 考试1 考试2 考试3
001  小陈  85  95  92
002  小李  91  92  94
003  小王  86  81  89
004  小张  79  89  95
005  小赵  96  91  91
006  小周  81  89  92

#### 创建一个叫`student_average`的DataFrame，索引为学号，包含姓名列（列名为“姓名”），以及计算出四次考试平均值后的结果列（列名为“平均分”）。

In [8]:
average = students.loc[:,"考试1":"考试3"].mean(axis = 1)
name = students["姓名"]
student_average = pd.DataFrame({"姓名": name, "平均分": average})
student_average

     姓名        平均分
001  小陈  90.666667
002  小李  92.333333
003  小王  85.333333
004  小张  87.666667
005  小赵  92.666667
006  小周  87.333333

#### 输出每次考试第二高的分数组成的Series，可以尝试结合匿名函数。

In [11]:
students.loc[:,"考试1":"考试3"].apply(lambda x: np.sort(x)[-2], axis = 0)

考试1    91
考试2    92
考试3    94
dtype: int64

#### 根据以下规则，输出每个学号对应的四次考试的等级：
- A+：平均分 >= 95
- A：90 <= 平均分 < 95
- B+：85 <= 平均分 < 90
- B：80 <= 平均分 < 85
- C+：75 <= 平均分 < 80
- C：平均分 < 75

In [ ]:
def average_score(average):
    if average >= 95:
        return "A+"
    elif average >= 90:
        return "A"
    elif average >= 85:
        return "B+"
    elif average >= 80:
        return "B"
    elif average >= 75:
        return "C+"
    else:
        return "C"

#### 展示`students`每个考试分数数据列的统计信息，包括个数、平均值、标准差、四分位数等。